:root {
  --accent-one: #ff00a5;
  --accent-two: #7a00ff;
}

/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

 h2 {
  color: var(--accent-one);
  font-size: x-large;
  font-weight: bold;
 }
html,
body {
  height: 100%;
  background-color: #333;
  background-image: url('https://static.vecteezy.com/system/resources/previews/001/218/845/original/colorful-holographic-gradient-background-design-vector.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}


@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.frosted-glass {
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.frosted-glass:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  inset: 0px;
  box-shadow: rgb(255 255 255) 0px 0px 2000px inset;
  filter: blur(1rem);
  margin: -1rem;
}


.download-holder {
  margin-top: 1rem;
}

.download-holder h3 {
  color: var(--accent-one);
  font-size: large;
  line-height: 1;
  margin: 0;
}

.download-holder img {
  border-radius: .25rem;
  box-shadow: .05rem .05rem 0.5rem .25rem #ff00a540!important;
}

.download-holder .thumbmnail-holder {
  border-radius: 1rem;
}


.download-holder .card {
  height: 100%;
  text-decoration: none;
  border: none;
  transition: all .25s;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  background: #ffffff52;
}

.download-holder .card:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}


.download-holder p {
  padding: 0;
  margin: 0;
  line-height: 1;
  margin-top: auto;
  display: none;
}

.download-holder .card-body {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}


h4#previewModalTitle {
  color: var(--accent-one);
  font-weight: bold;
}



a.nav-link {
  color: var(--accent-two);
  font-weight: bold;
  font-style: italic;
  font-variant: all-small-caps;
  font-family: monospace;
  font-size: xx-large;
  transition: all .25s;
}

a.nav-link:hover {
  color: var(--accent-one);
}