.pretty {
    background-color: #bd6b9b;
}

.mer {
  background-color: #42b7bf;
}

.bonsai {
    background-color: #85a380;
}

.rocker {
    background-color: #c38bcd;
}

.potato {
    background-color: #ca9f6e;
}

.mush {
    background-color: #6d3c3e;
}

.badge.none {
    background-color: cadetblue;
}

.coiny {
    font-family: "Coiny", system-ui;
}

.smallGridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, .25fr));
    grid-column-gap: 0.25rem;
    grid-row-gap: .25rem;
    align-items: end;
    justify-content: center;
}
    .smallGridContainer .badge {
        font-size: 10px;
        word-break: break-word;
        word-wrap: break-word;
        display: block;
        white-space: normal;
    }


.trade-background {
    background-color: #c1c161;
}

.brand-text {
    color: #fbfbfb !important;
}



h3 {
    font-weight: bold;
}

body {
    background-color: #E5C287;
}

textarea#TradeTemplate {
    font-size: small;
}

.subCategoryContainer > .card {
  background-color: #f3eadb !important;
}

.subCategoryContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    margin-bottom: .5rem;
}

.plushieContainer {
    display: grid;
    grid-column-gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-row-gap: .5rem;
    margin-bottom: .5rem;
}

.card-body {
    padding: .5rem;
}

textarea {
  min-height: 100px;
}

.card.need {
  background-color: #ffaaaa;
}

.card.have {
  background-color: #cbddc0;
}

.plushieContainer .image {
  height: 25px;
  width: 25px;
  background-size: contain;
  background-position: center;
  zoom: 1.5;
  background-repeat: no-repeat;
}

button.btn.btn-sm {
    font-size: small;
}

.screenshotable-img {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.screenshotContainer {
  padding: 1rem;
}

.screenshotable-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resizable {
    resize: both;
    overflow: auto;
}


.container.sticky-top {
    margin-right: auto !important;
    padding-right: 15px !important;
}

textarea#TradeNote {
    resize: none;
    overflow: hidden;
    color: cadetblue;
    min-height: 40px;
    height: 40px;
    max-height: 150px;
}