<div class="container card frosted-glass border-0 shadow-sm">
    <div class="card-body text-left" style="line-height: 1;">
      <h2 class="m-0"> About Me </h2>

      <div class="mt-2" style="font-family: monospace;">
        <p>Hello, my name is Maddie. I have a passion for the sims, and for storytelling. </p>
        <p>I'm a software engineer by day, and by night I love to play the sims, write stories, and learn new
          things.</p>
        <p>I have recently started making my own pose-packs for the sims which I will share here. I am also learning
          to make my own cc! So stay tuned. :) </p>
      </div>

    </div>
  </div>