<style>
    .app {
        display: grid;
        grid-gap: .5rem;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }

    @media only screen and (max-width: 600px) {
        .app {
            display: grid;
            grid-gap: .5rem;
            grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
        }
    }


    .tile {
        display: grid;
        grid-template-columns: .25fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-flow: row;
        grid-template-areas:
            "pic"
            "body";
        padding: 1rem;
        min-height: 6rem;
        border: 0;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        align-items: center;
        background-color: white;
        border-radius: .5rem;
    }

    .pic {
        grid-area: pic;
        background-color: aqua;
        width: 5rem;
        position: relative;
        height: 5rem;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-image: url('https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png');
    }

    .body {
        position: relative;

    }

    .tile div div:nth-child(1) {
        font-weight: bold;
        font-size: x-large;
        text-shadow: 2px 1px 1px #d9b7e9;
    }

    .tile div div:nth-child(2) {
        display: flex;
        justify-content: space-around;
    }

    .tile .bi-geo-alt-fill {
        margin-right: .5rem;
        color: var(--accent-two);
    }

    .tile .bi-heart-fill {
        margin-right: .5rem;
        color: var(--accent-one);
    }
</style>

<div class="col-12">
    <div id="MySims" class="app">
    </div>
</div>